.displayed-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.5vh 2vw;
  border-radius: 25px;
}

.displayed-date {
  width: 250px;
  display: flex;
  justify-content: space-between;
  // text-align: center;
  .displayed-date-daynb {
    width: 20px;
  }
  .displayed-date-month {
    width: 90px;
  }
  .displayed-date-day {
    width: 75px;
  }
}

.displayed-number {
  width: 20px;
}

.displayed-star {
  width: 20px;
  display: flex;
}

.displayed-prize {
  width: 200px;
  text-align: right;
}

.year-title {
  text-align: center;
}
