.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.fs-7 {
  font-size: 0.7rem;
}

.fs-xl {
  font-size: 2rem;
}

.rounded-top-lg {
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
}

.rounded-bottom-lg {
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
}

.squared {
  aspect-ratio: 1 / 1;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.link-year {
  cursor: pointer;
  box-sizing: border-box;
  // width: 100%;
  // height: 100%;
  padding: 11px 27px;
  color: rgb(255, 255, 255);
  background-color: RGB(40, 45, 135);
  border: 1px solid transparent;
  border-radius: 9999px;
  font-family: Metropolis-Medium, sans-serif;
  font-weight: 400;
  font-size: 0.825rem;
  line-height: normal;
  text-align: center;
  transition: all .25s ease-out;
  overflow: hidden;
  flex: 0 0 16.6%;
  display: inline-block;
  text-decoration: none !important;
  &.active {
    background-color: transparent;
    color: $primary;
    border-color: $primary;
    pointer-events: none;
  }
  &:hover {
    background-color: #99A3CC;
    color: white;
  }
}
